.DS_Store
/repos/**
/bin/**
/conf/xahaud.conf
/node_modules/**
node_modules
/contracts/**.js
/contracts/**.ts
/build/**.bc
/build/**.bc.raw
/contracts/@xahau/hooks/dist
/contracts/@xahau/hooks/dist/.gitkeep
